// main
#mainCont {
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;

  .main__cont {
    font-family: "Saol Display Regular";
    color: #fff;
    font-size: 8vw;
    line-height: 0.85;
    letter-spacing: -0.0275em;
    transition: all 3s;
  }
}

//about
#aboutCont {
  background-color: #f0eeeb;
}

.about-cont .about {
  padding-bottom: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-cont .about:nth-child(1) .about-img {
  flex: 0 0 100%;
}

.about-cont .about:nth-child(1) .about-txt {
  flex: 0 0 100%;
}

.about-cont .about:nth-child(1) .about-txt h2 {
  margin-top: 2em;
}

.about-cont .about:nth-child(2) .about-img {
  flex: 0 0 64%;
}

.about-cont .about:nth-child(2) .about-txt {
  flex: 0 0 30%;
}

.about-cont .about:nth-child(3) {
  flex-direction: row-reverse;
}

.about-cont .about:nth-child(3) .about-img {
  flex: 0 0 54%;
}

.about-cont .about:nth-child(3) .about-txt {
  flex: 0 0 40%;
}

.about-cont .about .about-txt {
  font-family: "Chosunilbo_myungjo";
}

.about-cont .about .about-txt h2 {
  margin: 0 0 1em;
  font-size: 1.625rem;
}

.about-cont .about .about-txt p {
  line-height: 1.6;
  font-size: 16px;
}

/* 포트폴리오 페이지 
.port__cont 
.port__item 
.port__item__img
.port__item__txt
*/
#portCont {
  background: #000;
  padding-bottom: 200px;
}

.port__cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.port__item {
  flex: 0 0 32%;
  margin-bottom: 2%;
}

.port__item__txt {
  padding: 35px 35px 25px 35px;
  background: #151517;
}

.port__item__txt h2 {
  font-family: "Saol Display Regular";
  font-size: 50px;
  line-height: 1;
  color: #fff;
}

.port__item__txt p {
  font-size: 16px;
  color: #b0aead;
  font-family: "Rajdhani";
}

/* 메인 페이지
#mainCont 
.main__cont 
.main__cont__title
*/
#mainCont {
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__cont__title {
  color: #fff;
  font-size: 8vw;
  line-height: 0.85;
  letter-spacing: -0.0275em;
  transition: all 2s;
  font-family: "Saol Display Regular";
}

.main__cont__title > div {
  opacity: 0;
  transform: translateY(50px);
}

//header
#aboutCont {
  background-color: #f0eeeb;
}

.about-cont .about {
  padding-bottom: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-cont .about:nth-child(1) .about-img {
  flex: 0 0 70%;
}

.about-cont .about:nth-child(1) .about-txt {
  flex: 0 0 100%;
}

.about-cont .about:nth-child(1) .about-txt h2 {
  margin-top: 2em;
}

.about-cont .about:nth-child(2) .about-img {
  flex: 0 0 64%;
}

.about-cont .about:nth-child(2) .about-txt {
  flex: 0 0 30%;
}

.about-cont .about:nth-child(3) {
  flex-direction: row-reverse;
}

.about-cont .about:nth-child(3) .about-img {
  flex: 0 0 54%;
}

.about-cont .about:nth-child(3) .about-txt {
  flex: 0 0 40%;
}

.about-cont .about .about-txt {
  font-family: "Chosunilbo_myungjo";
}

.about-cont .about .about-txt h2 {
  margin: 0 0 1em;
  font-size: 1.625rem;
}

.about-cont .about .about-txt p {
  line-height: 1.6;
  font-size: 16px;
}

/* detailCont */
#datailCont {
  background-color: #f0eeeb;
}

.detail-cont {
  padding: 0 30px 200px;

  .heading-wrap {
    margin: 6px 0px 0px;
    font-weight: 600;
    font-size: 32px;
    position: relative;
    button {
      font-size: 2rem;
      border: none;
      position: absolute;
      top: -70px;
    }
  }

  .meta-data {
    display: flex;
    font-size: 13px;

    li {
      margin-right: 20px;
      line-height: 16px;
      svg {
        margin-right: 5px;
        vertical-align: sub;
      }
    }
  }

  .tech {
    display: flex;
    flex-wrap: wrap;
    margin-left: -2px;
    margin-bottom: 10px;
    padding-top: 3px;

    li {
      padding: 4px;
      margin: 0px 2px 5px;
      border: 1px solid #000;
      border-radius: 2px;
      font-size: 13px;
      line-height: 1;
    }
  }

  .body-wrap {
    p {
      white-space: pre-line;
    }
    .link {
      margin-top: 15px;
      a {
        margin-bottom: 2px;
        display: inline-block;
        border-radius: 10px;

        background: none;
        text-align: center;
        font-size: 12px;
        padding: 5px 10px;
        svg {
          margin-right: 5px;
          vertical-align: sub;
        }
        &:hover {
          background: #000;
          color: #fff;
        }
      }
    }
    ul li {
      margin: 20px 0px 0px;
      padding-bottom: 20px;
    }
  }
}

/* youtubeCont */
#youtubeCont {
  background-color: #fff;
}

.youtube-cont {
  padding-bottom: 200px;
  padding: 0 20px;
}

.site {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 200px;
}

.site h2 {
  font-size: 40px;
  padding-bottom: 20px;
  flex: 0 0 100%;
  font-family: "Chosunilbo_myungjo";
}

.site .left {
  flex: 0 0 35%;
}

.site .right {
  font-family: "Chosunilbo_myungjo";
  font-size: 18px;
  flex: 0 0 60%;
}

.site .right dl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.site .right dt {
  flex: 0 0 20%;
}

.site .right dd {
  flex: 0 0 80%;
  padding-bottom: 30px;
}

.youtube-search {
  font-family: "Chosunilbo_myungjo";
}
.youtube-search .title h2 {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 30px;
  font-size: 40px;
}
.youtube-search .title input {
  border: 0;
  padding: 10px;
  vertical-align: 5px;
  font-family: "Chosunilbo_myungjo";
}
.youtube-search .title button {
  border: 0;
  padding: 10px 30px;
  background: #000;
  color: #fff;
  vertical-align: 5px;
  margin-left: 5px;
  font-family: "Chosunilbo_myungjo";
}
.youtube-search .list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.youtube-search .list li {
  flex: 0 0 19%;
  margin-bottom: 2%;
}
.youtube-search .list li strong {
  margin-top: 5px;
  display: block;
}

/* contactCont */
#contactCont {
  height: 100vh;
  background-color: #000;
}

.contact-cont {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.contact-cont div {
  font-size: 100px;
  font-family: "Saol Display Regular";
  font-weight: normal;
  padding-top: 1.6vw;
  text-transform: uppercase;
  color: #fff;
  font-size: 180px;
  line-height: 130px;
}

.contact__cont__title {
  color: #fff;
  font-size: 10vw;
  line-height: 0.85;
  letter-spacing: -0.0275em;
  transition: all 2s;
  font-family: "Saol Display Regular";
}

.contact__cont__title > div {
  opacity: 0;
  transform: translateY(50px);
}

/* 포트폴리오 페이지 
  .port__cont 
  .port__item 
  .port__item__img
  .port__item__txt
  */
#portCont {
  background: #000;
  padding-bottom: 200px;
}

.port__cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.port__item {
  flex: 0 0 32%;
  margin-bottom: 2%;
}

.port__item__img {
  height: 143px;
  overflow: hidden;
}

.port__item__txt {
  padding: 25px 25px 15px 25px;
  background: #151517;
}

.port__item__txt h2 {
  font-family: "Saol Display Regular";
  font-size: 20px;
  line-height: 1;
  color: #fff;
}

.port__item__txt p {
  font-size: 16px;
  color: #b0aead;
  font-family: "Rajdhani";
}
// script-cont
#worksCont {
  background-color: #f0eeeb;
  padding: 0 2rem;
}
.works__cont {
  padding-bottom: 100px;
}
.works__cont__wrap {
  margin-bottom: 200px;
  overflow: hidden;
}
.works__cont__img {
  overflow: hidden;
  text-align: left;
  img {
    width: 90%;
    margin-top: 30px;
  }
}
.works__cont__img iframe {
  width: 100%;
  height: 100%;
  border: 0;
  background: #000;
}
.works__cont__txt {
  h2 {
    font-size: 35px;
    padding: 30px 0 30px;
    font-weight: 700;
  }
  p {
    margin-bottom: 15px;
    font-size: 18px;
    font-family: "Chosunilbo_myungjo";
  }
}
.tech_tit {
  margin-top: 2%;
  font-weight: 500;
}
.tech {
  margin-top: 10px;
  display: flex;
  gap: 0.5rem;
  li {
    display: inline-block;
    padding: 2px 8px;
    border: 1px solid #000;
  }
}

.works_btn {
  display: flex;
  margin-top: 20px;
  width: 10%;
  line-height: 1.5;
  height: 30px;
  justify-content: center;
  float: right;
  background-color: #eee;
  border-radius: 10px;
  &:hover {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
  }
}
/* 연락처 페이지
#contactCont 
.contact__cont 
*/
#contactCont {
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.contact__cont {
  color: #fff;
  font-size: 10vw;
  line-height: 0.85;
  letter-spacing: -0.0275em;
  transition: all 2s;
  font-family: "Saol Display Regular";
}

.experienceList {
  width: 85%;
  margin: auto;
  display: flex;
  // justify-content: center;

  .experience {
    ul > li {
      position: relative;
      padding: 0 20px 0 60px;
      margin: 0 0 50px;
    }

    ul > li > .icon {
      position: absolute;
      left: 0px;
      right: 0px;
      z-index: 1;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      line-height: 40px;
      background-color: #000;
    }

    ul > li > .time {
      display: inline-block;
      padding: 1px 10px;
      margin-bottom: 12px;
      border-radius: 20px;
      background-color: rgb(37, 37, 37);
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.6px;
      opacity: 0.8;
      color: #fff;
    }

    ul > li > h4 {
      margin: 7px 0px 10px;
      font-size: 18px;
      font-weight: 500;
      opacity: 0.8;
    }

    ul > li > h4 span {
      position: relative;
      padding-left: 26px;
      font-size: 15px;
      font-weight: 600;
      opacity: 0.6;
    }

    ul > li > h4 span:before {
      position: absolute;
      content: "";
      width: 10px;
      height: 2px;
      background-color: rgb(255, 255, 255);
      left: 7px;
      top: 9px;
      opacity: 0.8;
    }

    ul > li::after {
      content: "";
      position: absolute;
      top: 0px;
      left: 20px;
      bottom: 0px;
      border-left: 1px solid rgb(51, 51, 51);
    }
  }
}

.about-cont {
  padding: 0 30px 200px;
}

@media screen and (max-width: 765px) {
  .about-cont {
    padding: 0 30px 100px;
  }
}

.aboutTitle {
  margin-bottom: 40px;
  font-size: 1.625rem;
  text-align: center;
  font-family: "Chosunilbo_myungjo";
}

.skillCont {
  padding: 0 0 200px;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .skillCont {
    padding: 0 30px 100px;
  }
}

.skill-list {
  width: calc(50% - 30px);
  margin: 0px 15px 30px;
  padding: 20px 30px;
  border: 1px solid rgb(37, 37, 37);
  border-radius: 5px;
  cursor: default;
  position: relative;
}

.skill-list::before {
  content: "";
  box-sizing: inherit;
  position: absolute;
  border: 1px solid transparent;
  width: 0px;
  height: 0px;
  border-radius: 5px;
}

.skill-list .skill-label {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  svg {
    margin-right: 10px;
  }
}

.skill-list .skill-detail li {
  position: relative;
  padding: 0px 0px 10px 20px;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
}

.skill-list .skill-detail li::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 13px;
  width: 10px;
  height: 1px;
  background: #000;
}

@media screen and (max-width: 640px) {
  .skill-list {
    width: 100%;
  }
}
